body{
    background-color: #0E0303;
}
h1{
    font-size: 30px;
}
.row{
    margin-bottom: 15px;
    padding: 15px 10px 0 10px ;
    border-radius: 20px;
}
.btn{
    padding: 14px;
}
.body-bg{
    background-color: #5d6477;
}

input{
    font-size: 30px;
}